<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiang.cloud.user.dao.SysUserLoginDao">
    <resultMap id="SysUserLoginResultMap" type="com.xiang.cloud.user.model.SysUserLogin">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="login_name" jdbcType="VARCHAR" property="loginName" />
        <result column="login_mode" jdbcType="VARCHAR" property="loginMode" />
        <result column="login_token" jdbcType="VARCHAR" property="loginToken" />
        <result column="create_by_id" jdbcType="INTEGER" property="createById" />
        <result column="modify_by_id" jdbcType="INTEGER" property="modifyById" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
        <result column="deleted" jdbcType="INTEGER" property="deleted" />
    </resultMap>
    <sql id="Column_List">
        id,
        user_id,
        login_name,
        login_mode,
        login_token,
        create_by_id,
        modify_by_id,
        create_time,
        modify_time,
      deleted
    </sql>
    <sql id="ALL_SQL">
        <if test="where.id != null and where.id != '' ">
            AND id = #{where.id,jdbcType=INTEGER}
        </if>
        <if test="where.userId != null and where.userId != '' ">
            AND user_id = #{where.userId,jdbcType=INTEGER}
        </if>
        <if test="where.loginName != null and where.loginName != '' ">
            AND login_name = #{where.loginName,jdbcType=VARCHAR}
        </if>
        <if test="where.loginMode != null and where.loginMode != '' ">
            AND login_mode = #{where.loginMode,jdbcType=VARCHAR}
        </if>
        <if test="where.loginToken != null and where.loginToken != '' ">
            AND login_token = #{where.loginToken,jdbcType=VARCHAR}
        </if>
        <if test="where.createById != null and where.createById != '' ">
            AND create_by_id = #{where.createById,jdbcType=INTEGER}
        </if>
        <if test="where.modifyById != null and where.modifyById != '' ">
            AND modify_by_id = #{where.modifyById,jdbcType=INTEGER}
        </if>
        <if test="where.createTime != null and where.createTime != '' ">
            AND create_time = #{where.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="where.modifyTime != null and where.modifyTime != '' ">
            AND modify_time = #{where.modifyTime,jdbcType=TIMESTAMP}
        </if>
        <if test="where.deleted != null and where.deleted != '' ">
            AND deleted = #{where.deleted,jdbcType=INTEGER}
        </if>
    </sql>
    <sql id="LIKE_SQL">
        <if test="where.id != null and where.id != '' ">
            AND id like CONCAT('%',#{where.id,jdbcType=INTEGER},'%' )
        </if>
        <if test="where.userId != null and where.userId != '' ">
            AND user_id like CONCAT('%',#{where.userId,jdbcType=INTEGER},'%' )
        </if>
        <if test="where.loginName != null and where.loginName != '' ">
            AND login_name like CONCAT('%',#{where.loginName,jdbcType=VARCHAR},'%' )
        </if>
        <if test="where.loginMode != null and where.loginMode != '' ">
            AND login_mode like CONCAT('%',#{where.loginMode,jdbcType=VARCHAR},'%' )
        </if>
        <if test="where.loginToken != null and where.loginToken != '' ">
            AND login_token like CONCAT('%',#{where.loginToken,jdbcType=VARCHAR},'%' )
        </if>
        <if test="where.createById != null and where.createById != '' ">
            AND create_by_id like CONCAT('%',#{where.createById,jdbcType=INTEGER},'%' )
        </if>
        <if test="where.modifyById != null and where.modifyById != '' ">
            AND modify_by_id like CONCAT('%',#{where.modifyById,jdbcType=INTEGER},'%' )
        </if>
        <if test="where.createTime != null and where.createTime != '' ">
            AND create_time like CONCAT('%',#{where.createTime,jdbcType=TIMESTAMP},'%' )
        </if>
        <if test="where.modifyTime != null and where.modifyTime != '' ">
            AND modify_time like CONCAT('%',#{where.modifyTime,jdbcType=TIMESTAMP},'%' )
        </if>
        <if test="where.deleted != null and where.deleted != '' ">
            AND deleted like CONCAT('%',#{where.deleted,jdbcType=INTEGER},'%' )
        </if>
    </sql>

    <select id="selectByParams" parameterType="map" resultMap="SysUserLoginResultMap">
        <!-- 根据条件查询信息 -->
        select
        <include refid="Column_List"/>
        from sys_user_login
        <where>deleted = '0'
            <include refid="ALL_SQL"/>
        </where>
    </select>
    <select id="likeByParams" parameterType="map" resultMap="SysUserLoginResultMap">
        <!-- 根据条件模糊匹配信息 -->
        select
        <include refid="Column_List"/>
        from sys_user_login
        <where>deleted = '0'
            <include refid="LIKE_SQL"/>
        </where>
    </select>
    <select id="selectByPK" parameterType="java.lang.Long" resultMap="SysUserLoginResultMap">
        <!-- 根据主键ID查询信息 -->
        select
        <include refid="Column_List"/>
        from sys_user_login
        <where>
            DELETED = '0' AND ID = #{pk,jdbcType=INTEGER}
        </where>
    </select>
   <insert id="insert" parameterType="com.xiang.cloud.user.model.SysUserLogin" useGeneratedKeys="true" keyProperty="id">
       <!-- 添加数据 -->
       insert into sys_user_login (
                id,
                user_id,
                login_name,
                login_mode,
                login_token,
                create_by_id,
                modify_by_id,
                create_time,
                modify_time,
              deleted
       ) values (
               #{id,jdbcType=INTEGER},
               #{userId,jdbcType=INTEGER},
               #{loginName,jdbcType=VARCHAR},
               #{loginMode,jdbcType=VARCHAR},
               #{loginToken,jdbcType=VARCHAR},
               #{createById,jdbcType=INTEGER},
               #{modifyById,jdbcType=INTEGER},
               #{createTime,jdbcType=TIMESTAMP},
               #{modifyTime,jdbcType=TIMESTAMP},
             #{deleted,jdbcType=INTEGER}
       )
   </insert>
    <insert id="insertSelective" parameterType="com.xiang.cloud.user.model.SysUserLogin" useGeneratedKeys="true" keyProperty="id">
        <!-- 添加数据（判断是否为空） -->
        insert into sys_user_login
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="loginMode != null">
                login_mode,
            </if>
            <if test="loginToken != null">
                login_token,
            </if>
            <if test="createById != null">
                create_by_id,
            </if>
            <if test="modifyById != null">
                modify_by_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="loginMode != null">
                #{loginMode,jdbcType=VARCHAR},
            </if>
            <if test="loginToken != null">
                #{loginToken,jdbcType=VARCHAR},
            </if>
            <if test="createById != null">
                #{createById,jdbcType=INTEGER},
            </if>
            <if test="modifyById != null">
                #{modifyById,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        <!-- 批量添加数据 -->
        INSERT INTO sys_user_login (
                id,
                user_id,
                login_name,
                login_mode,
                login_token,
                create_by_id,
                modify_by_id,
                create_time,
                modify_time,
              deleted
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
                    #{item.id,jdbcType=INTEGER},
                    #{item.userId,jdbcType=INTEGER},
                    #{item.loginName,jdbcType=VARCHAR},
                    #{item.loginMode,jdbcType=VARCHAR},
                    #{item.loginToken,jdbcType=VARCHAR},
                    #{item.createById,jdbcType=INTEGER},
                    #{item.modifyById,jdbcType=INTEGER},
                    #{item.createTime,jdbcType=TIMESTAMP},
                    #{item.modifyTime,jdbcType=TIMESTAMP},
                  #{item.deleted,jdbcType=INTEGER}
            )
        </foreach>
    </insert>
    <update id="updateByPK" parameterType="com.xiang.cloud.user.model.SysUserLogin">
        update sys_user_login set
                user_id = #{userId,jdbcType=INTEGER},
                login_name = #{loginName,jdbcType=VARCHAR},
                login_mode = #{loginMode,jdbcType=VARCHAR},
                login_token = #{loginToken,jdbcType=VARCHAR},
                create_by_id = #{createById,jdbcType=INTEGER},
                modify_by_id = #{modifyById,jdbcType=INTEGER},
                create_time = #{createTime,jdbcType=TIMESTAMP},
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
                deleted = #{deleted,jdbcType=INTEGER}
                 WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPKSelective" parameterType="com.xiang.cloud.user.model.SysUserLogin">
        update sys_user_login
            <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=INTEGER},
                </if>
                <if test="loginName != null">
                    login_name = #{loginName,jdbcType=VARCHAR},
                </if>
                <if test="loginMode != null">
                    login_mode = #{loginMode,jdbcType=VARCHAR},
                </if>
                <if test="loginToken != null">
                    login_token = #{loginToken,jdbcType=VARCHAR},
                </if>
                <if test="createById != null">
                    create_by_id = #{createById,jdbcType=INTEGER},
                </if>
                <if test="modifyById != null">
                    modify_by_id = #{modifyById,jdbcType=INTEGER},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="modifyTime != null">
                    modify_time = #{modifyTime,jdbcType=TIMESTAMP},
                </if>
                <if test="deleted != null">
                    deleted = #{deleted,jdbcType=INTEGER}
                </if>
            </set>
                 where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteByPK" parameterType="java.lang.Long">
        delete from sys_user_login where ID = #{pk,jdbcType=INTEGER}
    </delete>
</mapper>